# Database
DB_URL=jdbc:postgresql://localhost:5432/trackmyfood
DB_USERNAME=postgres
DB_PASSWORD=postgres

# JWT
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

# RabbitMQ
RABBITMQ_HOST=rabbit
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# OpenRouteService
ORS_API_KEY=your_openrouteservice_api_key_here
