.env

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

*.log
logs/
spring.log

docker-volumes/

*.jar
*.war
*.ear
*.class